.error {
    text-align: center;
    padding: 10px;
}

.birthform {
    text-align: center;
}

button {
    background-color: blue;

}

body {
    background-image: url('backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}